$white       : #FFFFFF;
$black       : #111111;

$yellow : #F9CE34;

$blue-steroid  : rgb(90, 198, 255);
$pink-steroid  : rgb(255, 130, 130);
$green-steroid : rgb(160, 236, 111);
$blue-steroid  : rgb(253, 235, 117);
$white-steroid : rgb(241, 241, 242);

body {
  background-color: $yellow;
}
