$footer-height : 140px;

html, body {
  height: 100%;
}
.m-page-container {
  min-height: 100%;
  margin-bottom: -$footer-height;
}
.m-page-container:after {
  content: "";
  display: block;
}
.m-footer, .m-page-container:after {
  min-height: $footer-height;
}

.m-footer {
  background-color: $black;
  font-family: 'Quando',serif;
  padding: emCalc(20) 0 0;
  color: $white-steroid;

  a {
  color: $yellow-steroid;
    &:hover {
      color: $red-steroid;
    }
  }
}
