$footer-height : 140px;

.m-page-container {
  min-height: 100%;
  margin-bottom: -$footer-height;
  &:after {
    content: "";
    display: block;
  }
}

.about {
  .m-page-container {
    padding-bottom: rem-calc(100);
  }
}

.m-control {
  position: fixed;
  bottom: -5px;
  width: 100%;
  line-height: 1;
}
