$footer-height : 140px;

.m-page-container {
  min-height: 100%;
  margin-bottom: -$footer-height;
  &:after {
    content: "";
    display: block;
  }
}

.m-flattr {
  width: 100px;
  margin: 0 auto emCalc(30);
  display: block;
}

.m-control {
  position: fixed;
  bottom: -5px;
  width: 100%;
}
