.m-header {
  .l-logo {
    text-align: center;
    color: $white;
    padding-top: rem-calc(20);
    font-family: $body-font-family;
    font-size: rem-calc(44);
    text-shadow : $text-shadow;
    font-weight: $font-weight-bold;
  }
}
