.m-header {
  font-size: rem-calc(12);

  @media #{$small} {
    font-size: inherit;
  }

  font-family: 'Quando',serif;
  padding: rem-calc(20) 0;

  h1 {
    color: $white;
    margin: 0;

    small {
      color: $white-steroid;
    }
  }
}
