$font-weight-normal: 400;
$text-shadow : 0 1px 1px rgba($black,.4);
$quote-border-style : 2px dotted $white-steroid;
$quote-title-font-size: rem-calc(60);

body {
  font-family: 'Signika',sans-serif;
}

.m-quote {
  margin-bottom: rem-calc(450);

  strong {
    color: $white-steroid;
  }

  .l-author {
    font-family: 'Playfair Display',serif;
    font-style: italic;
    font-weight: $font-weight-normal ;
  }

  .l-title {
    text-shadow : $text-shadow;
    border-bottom: $quote-border-style;
    border-top: $quote-border-style;
    font-family: 'Quando',serif;

    font-weight: 300;
    line-height: 1.3em;
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(10);
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
    letter-spacing: rem-calc(-3);
    position: relative;

    font-size: $quote-title-font-size - rem-calc(30);
    @media #{$small} {
      font-size: $quote-title-font-size;
    }

    &:before {
      font-family: "FontAwesome";
      content: "\f10d";
      position: absolute;
      top: 0;
      left: -1.25em;
      color: $white;
    }
  }

  .l-links {
    font-family: 'Signika',sans-serif;
    font-size: rem-calc(20);
    line-height: 1.5em;
    margin-right: rem-calc(20);
  }
}
