---
title: A propos
---

.row
  .small-10.small-centered.columns
    markdown:
      # A propos

      Webcitation est une application regroupant des citations de personnes travaillant dans l'industrie du web. Elle est conçue, construite et mise à jour par [David Leuliette](http://davidl.fr), pour vous inspirer toutes les semaines. Il réalise une sélection des meilleures citations croisées sur différents articles de blogs, livres ou conférences.

      ## Contributions

      Seulement les citations en Français sont acceptées. Les citations doivent avoir un minimum de rapport avec la création et le développement de sites / applications web (Même si leur auteur n'a pas connu ça, comme Léonard de Vinci). Les propositions avec un contenu inapproprié ne sont pas acceptées.

      ## Comment contribuer ?

      Pour partager une citation, [lisez le README](https://github.com/flexbox/webcitation/blob/master/README.md) ou [créez une pull request](https://github.com/flexbox/webcitation/blob/master/data/quotes.json).

    h2 A propos de l'application

    p
      'Construit avec
      = link_to 'Middleman', 'http://middlemanapp.com/'
      ', développé avec
      = link_to 'Foundation ', 'http://foundation.zurb.com/'
      'et hébergé sur
      = link_to 'GitHub', 'https://github.com/flexbox/webcitation'
      '.
